:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --content-background-color: #fff1f7;
  --button-color: #353430;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --h1-text-color: #ffc2e6;
  --title-text-color: #353430;
  --accent-color: #ff8dcb;
  --hover-button-color: rgba(50, 49, 45, 0.4);
  --main-gap: 10px;
  --content-gap: 50px;
  --content-padding: 40px;
  --picture-gap: 10px;

  @media (width >= 768px) {
    --main-gap: 20px;
    --content-padding: 60px;
    --content-gap: 80px;
    --picture-gap: 20px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --content-background-color: #fff1f7;
    --button-color: #353430;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --h1-text-color: #ffc2e6;
    --title-text-color: #353430;
    --accent-color: #ff8dcb;
    --hover-button-color: rgba(50, 49, 45, 0.4);
    --main-gap: 10px;
    --content-gap: 50px;
    --content-padding: 40px;
    --picture-gap: 10px;

    @media (width >= 768px) {
      --main-gap: 20px;
      --content-padding: 60px;
      --content-gap: 80px;
      --picture-gap: 20px;
    }
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__rec-element {
  display: none;
}
